@import url('https://fonts.cdnfonts.com/css/franklin-gothic?styles=17609');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #2b2b2b;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

.startpage {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), #2b2b2b), url('https://cdn.discordapp.com/attachments/648776008274673664/1205143136628772884/image.png?ex=65d74c02&is=65c4d702&hm=d15aea64bea07ae5866149b2718d4e358d49cf26708d6c0d67518512d152fd6c&');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.intro {
    position: absolute;
    left: 65%;
    top: 25%;
    width: 400px;
    height: 700px;
    border-style: solid solid none solid;
    border-color: #2b2b2b;
    border-width: 2px;
    padding-left: 50px;
    padding-top: 25px;
}

.aboutme {
    width: 100%;
}

.projects a {
    color: black;
    text-decoration: none;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.project-box {
    width: var(--card-width);
    height: var(--card-height);
    margin: 0 20px;
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, .3);
    border-style: solid;
    border-radius: 10%;
    border-width: 2px; /* Add border width */
    position: relative; /* Necessary for pseudo-element */
    overflow: hidden; /* Ensure the gradient border doesn't overflow */
}

.project-box::after {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position the pseudo-element */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Place pseudo-element behind the content */
    border-radius: 10%; /* Adjust border-radius to match .project-box */
    background: -webkit-linear-gradient(25deg, #1900ff, #751079); /* Gradient background */
    transition: opacity 0.3s ease; /* Smooth transition for border color */
    opacity: 0; /* Initially transparent */
}

.project-box:hover::after {
    opacity: 0.2; /* Show the gradient border on hover */
}




#project-name #project-desc {
    width: 100%;
    text-align: center;
}

.project-img {
    /* opacity: 50%; */
    max-width: 450px;
    max-height: 250px;
    margin-top: 50px;
    border-radius: 10%;
}

#name {
    letter-spacing: 7.5px;
    font-family: 'Franklin Gothic', sans-serif;
    font-size: 60px;
    text-align: left;
}

#introduction {
    font-size: 45px;
    margin-top: 100px;
}

#title {
    /* position: absolute; */
    position: absolute;
    left: 45%;
    right: 50%;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 500px;
    padding-bottom: 100px;
}

#scrollarrow {
    display: flex;
    width: 25%;
    height: 15%;
    float: right;
    margin-right: 40px;
    margin-top: 100px;
    filter: invert(1%) sepia(1%) saturate(1%) hue-rotate(1deg) brightness(1000%) contrast(80%);
}

#porfolio-button-text {
    margin-top: 120px;
    float: left;
    display: flex;
}

#selfportrait {
    margin-left: 100px;
    width: 25%;
    opacity: 80%;
    border-radius: 100px;

}

#aboutme-text {
    float: right;
    /* border-style: solid; */
    padding: 20px;
    margin-top: 95px;
    margin-right: 200px;
    color: white;
}

#section {
    margin: 0px;
}

#aboutme-text #section {
    width: 650px;
}

#section-title {
    font-size: 20px;
    font-weight: bolder;
    float: left;
}

#section-text {
    text-align: left;
    width: 350px;
    display: flex;
    float: right;
    margin-bottom: 125px;
}

.temp {
    margin-top: 200px;
    margin-left: 20%;
    padding-bottom: 100px;
}

.wip-footer {
    text-align: center; 
    margin-top: 100px;
    
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#wip-footer h1 {
    display: inline; /*Make the 3 H1 texts appear in 1 line*/
    text-align: center;
}

.wip { /* I need to learn more about this webkit stuff*/
    background: -webkit-linear-gradient(25deg, #1900ff, #751079);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 5s linear infinite;
}

@keyframes gradient { /* I understand Keyframes I think. */
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.project-box h2,
.project-box p {
    color: white;
}

#photo-signature {
    color: white;
    text-align: center;
    margin-right: 85%;
    margin-top: 50%;
    opacity: 0.2;
}

#links{
    display: flex;
    padding-left: 45%;
    padding-right: 45%;
}